<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sample-merchant-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CC814F01E32C7FF00198093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CC815041E32C80000198093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CC8150F1E32C80000198093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
